<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PurchaseMapper">
    <insert id="insert_purchase">
    	insert into purchase(oid, uid, uname, phone, address1, address2, sum)
    	values(#{oid}, #{uid}, #{uname}, #{phone}, #{address1}, #{address2}, #{sum})
    </insert>
    <insert id="insert_order">
    	insert into orders(oid, pid, lprice, qnt)
    	values(#{oid}, #{pid}, #{lprice}, #{qnt})
    </insert>
    <select id="list_purchase" resultType="hashmap"> <!-- 내가 주문한 목록만 볼때 -->
    	select *
    	from view_purchase
    	where uid = #{uid}
    	order by regdate desc
    	limit #{start}, #{size};
    </select>
    <select id="total_purchase" resultType="int">
    	select count(*)
    	from purchase
    	where uid = #{uid}
    </select>
    <select id="list_orders" resultType="hashmap">
    	select *
    	from view_orders
    	where oid = #{oid}
    </select>
    <select id="list_admin" resultType="hashmap">
    	select *
    	from view_purchase
    	<if test="key == 'uid'">
    		where uid like concat('%', #{query}, '%')
    	</if>
    	<if test="key == 'oid'">
    		where oid like concat('%', #{query}, '%')
    	</if>
    	<if test="key == 'status'">
    		where status like concat('%', #{query}, '%')
    	</if>
    	<if test="key == 'address1'">
    		where address1 like concat('%', #{query}, '%')
    	</if>
    	<if test="key == 'phone'">
    		where phone like concat('%', #{query}, '%')
    	</if>
    	<if test="key == 'uname'">
    		where uname like concat('%', #{query}, '%')
    	</if>
    	order by regdate desc
    	limit #{start}, #{size};
    </select>
    <select id="total_admin" resultType="int">
    	select count(*)
    	from view_purchase
    	<if test="key == 'uid'">
    		where uid like concat('%', #{query}, '%')
    	</if>
    	<if test="key == 'oid'">
    		where oid like concat('%', #{query}, '%')
    	</if>
    	<if test="key == 'status'">
    		where status like concat('%', #{query}, '%')
    	</if>
    	<if test="key == 'address1'">
    		where address1 like concat('%', #{query}, '%')
    	</if>
    	<if test="key == 'phone'">
    		where phone like concat('%', #{query}, '%')
    	</if>
    	<if test="key == 'uname'">
    		where uname like concat('%', #{query}, '%')
    	</if>
    </select>
    <update id="update_status">
    	update purchase
    	set status = #{status}
    	where oid = #{oid}
    </update>
</mapper>