<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ShopMapper">
    <insert id="insert">
    	insert into shop(productId, title, image, lprice, maker)
    	values(#{productId}, #{title}, #{image}, #{lprice}, #{maker});
    </insert>
    <select id="check" resultType="int">
    	select count(*)
    	from shop
    	where productId = #{productId};
    </select>
    <select id="list" resultType="hashmap">
    	select *, date_format(regdate, '%Y-%m-%d %T') as fmtdate, format(lprice, 0) as fmtprice
		from shop
		where title like concat('%', #{query}, '%') or maker like concat('%', #{query}, '%')
		order by pid desc
		limit #{start}, #{size};
    </select>
    <select id="total" resultType="int">
    	select count(*)
    	from shop
    	where title like concat('%', #{query}, '%') or maker like concat('%', #{query}, '%');
    </select>
</mapper>