.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.input-group-text {
width: 120px;
justify-content: center;
}

.photo {
border-radius: 50%;
border: 1px solid gray;
cursor: pointer;
}

a {
  text-decoration: none !important;
  font-size: 1rem;
  padding: 5px;
  margin: 0px 10px;
}

.navbar-nav .active {
  color: white;
}

.price {
  font-size: 0.8rem;
}

.heart {
  color: red;
  cursor: pointer;
}