<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CourseMapper">
    <select id="list" resultType="hashmap"> <!-- 강좌목록 -->
    	select *
    	from view_cou
    	<if test="key == 'lcode'">
    		where lcode like concat('%', #{query}, '%')
    	</if>
    	<if test="key == 'lname'">
    		where lname like concat('%', #{query}, '%')
    	</if>
    	<if test="key == 'room'">
    		where room like concat('%', #{query}, '%')
    	</if>
    	<if test="key == 'pname'">
    		where pname like concat('%', #{query}, '%')
    	</if>
    	limit #{start}, #{size};
    </select>
    <select id="total" resultType="int">
    	select count(*)
    	from view_cou
    	<if test="key == 'lcode'">
    		where lcode like concat('%', #{query}, '%')
    	</if>
    	<if test="key == 'lname'">
    		where lname like concat('%', #{query}, '%')
    	</if>
    	<if test="key == 'room'">
    		where room like concat('%', #{query}, '%')
    	</if>
    	<if test="key == 'pname'">
    		where pname like concat('%', #{query}, '%')
    	</if>
    </select>
    <select id="read" resultType="hashmap">
    	select *
    	from view_cou
    	where lcode = #{lcode};
    </select>
    <select id="enroll" resultType="hashmap">
    	select *
    	from cou_enroll
    	where lcode = #{lcode};
    </select>
    <select id="graph" resultType="hashmap"> <!-- 강좌별 평균점수 구하는 -->
    	select e.lcode, lname, avg(grade) as avg
		from enrollments e, courses c
		where e.lcode = c.lcode
		group by e.lcode;
    </select>
</mapper>