<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EnrollMapper">
	<delete id="delete"> <!-- 수강신청 취소 -->
		delete from enrollments
		where lcode = #{lcode} and scode = #{scode};
	</delete>
	<update id="persons">
		update courses
		set persons = persons + #{count}
		where lcode = #{lcode};
	</update>
	<insert id="insert"> <!-- 수강신청 -->
		insert into enrollments(scode, lcode, edate)
		values(#{scode}, #{lcode}, now());
	</insert>
	<select id="read" resultType="hashmap">
		select *
		from enrollments
		where lcode = #{lcode} and scode = #{scode};
	</select>
	<update id="grade">
		update enrollments
		set grade = #{grade}
		where lcode = #{lcode} and scode = #{scode};
	</update>
</mapper>