<div class="my-5">
	<h1 class="text-center mb-5">비밀번호 변경</h1>
	<div class="row justify-content-center">
		<div class="col-md-6 col-lg-6">
			<form name="frm" class="card p-3">
				<div class="input-group mb-3">
					<span class="input-group-text">현재 비밀번호</span>
					<input name="upass" type="password" class="form-control">
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">새 비밀번호</span>
					<input name="npass" type="password" class="form-control">
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">비밀번호 확인</span>
					<input name="cpass" type="password" class="form-control">
				</div>
				<button class="btn btn-outline-dark w-100">비밀번호 변경</button>
			</form>
		</div>
	</div>
</div>

<script>
	$(frm).on("submit", function(e){
		e.preventDefault();
		
		const upass=$(frm.upass).val();
		const npass=$(frm.npass).val();
		const cpass=$(frm.cpass).val();
		if(upass == "" || npass == "" || cpass == ""){ //조건1
			alert("현재 비밀번호, 새로운 비밀번호, 비밀번호 확인을 입력해주세요.");
			return;
		}
		if(npass != cpass){ //조건2
			alert("새 비밀번호와 비밀번호 확인이 일치하지 않습니다.");
			return;
		}
		
		//비밀번호 일치 체크
		$.ajax({
			type:"post",
			url:"/users/login",
			data:JSON.stringify({upass, uid:sessionStorage.getItem("uid")}),
			contentType:"application/json",
			success:function(data){
				//alert(data);
				if(data != 1){
					alert("현재 비밀번호가 일치하지 않습니다.");
					$(frm.upass).focus();
				}else{ //조건3
					if(confirm("새로운 비밀번호로 변경할까요?")){ //조건1,2,3을 만족해야함
					//비밀번호 변경 작업	
						$.ajax({
							type:"post",
							url:"/users/password",
							data:JSON.stringify({uid:sessionStorage.getItem("uid"), upass:npass}),
							contentType:"application/json", //RequestBody로 보내려면 필요
							success:function(){
								alert("새로운 비밀번호로 변경되었습니다.");
								sessionStorage.clear();
								location.href="/users/login";
							}
						});
					}
				}
			}
		})
	});
	
</script>